.orderDetailsContainerBox > div {
  display: flex;
}

.orderDetailsContainerBox > div > p {
  font-size: 2rem;
}

.orderDetailsContainerBox > div > span {
  font-size: 2rem;
}

.orderDetailsContainerBox > div > p {
  margin-right: 10px;
}
