.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
  font-size: 1.5rem;
}

.css-204u17-MuiDataGrid-main * {
  font-size: 1.5rem;
}

.css-levciy-MuiTablePagination-displayedRows {
  font-size: 1.3rem !important;
  margin-bottom: 0 !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 1.3rem !important;
}

.MuiDataGrid-menuIconButton {
  font-size: 1.3rem !important;
}
