.resetPasswordBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.resetPasswordPaper {
  padding: 2rem 3rem;
}

.resetPasswordHeading {
  margin-bottom: 3rem;
}

.resetPasswordForm {
  & > div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
  }
  & input {
    outline: none;
    padding: 5px 10px;
  }
}

.resetPasswordBtn {
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
}
